@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main: #279af1;
  --select: #c49991;
  --component: #60656f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #343434;
    --foreground: #f7f7ff;
    --main: #279af1;
    --select: #c49991;
    --component: #60656f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
